$default-font: "roboto";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;

$mono: 'AvalonMedium';
@include font-face ($mono, $addr + "AvalonMedium/AvalonMedium", 500, $file-formats: $file-format);

@include font-face ($default-font, $addr + "SegoeUI-Light/SegoeUI-Light", 300, $file-formats: $file-format);
@include font-face ($default-font, $addr + "SegoeUI/SegoeUI", 400, $file-formats: $file-format);
@include font-face ($default-font, $addr + "SegoeUI-SemiBold/SegoeUI-SemiBold", 600, $file-formats: $file-format);
@include font-face ($default-font, $addr + "SegoeUI-SemiBold/SegoeUI-SemiBold", 700, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold