.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-chevron-right {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-plus {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-tg {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-tw {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-vb {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-wa {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
