// start .headerBlock
.headerBlock {
	color: $gray-50;

	min-height: 433px;
	--sPT: 160px;
	--sPB: 30px;
	--sTPB: 91px;
	@include media-breakpoint-up(sm){
		min-height: 263px;
		--sPT: 96px;
		--sPB: 30px;
		--sTPB: 43px;
	}
	@include media-breakpoint-up(md){
		min-height: 360px;
		--sPT: 134px;
		--sPB: 25px;
		--sTPB: 32px;
	}
	@include media-breakpoint-up(lg){
		min-height: 550px;
		--sPT: 190px;
		--sPB: 11px;
		--sTPB: 47px;
	}
	@include media-breakpoint-up(xl){
		min-height: 647px;
		--sPT: 246px;
		--sPB: 30px;
		--sTPB: 96px;
	}
	@include media-breakpoint-up(xxl){
		min-height: 695px;
		--sPT: 266px;
		--sPB: 28px;
		--sTPB: 111px;
	}

	&--long{
		min-height: 433px;
		--sPT: 218px;
		--sPB: 49px;
		--sTPB: 51px;
		@include media-breakpoint-up(sm){
			min-height: 407px;
			--sPT: 125px;
			--sPB: 22px;
			--sTPB: 28px;
		}
		@include media-breakpoint-up(md){
			min-height: 1008px;
			--sPT: 390px;
			--sPB: 70px;
			--sTPB: 125px;
		}
		@include media-breakpoint-up(lg){
			min-height: 959px;
			--sPT: 386px;
			--sPB: 50px;
			--sTPB: 112px;
		}
		@include media-breakpoint-up(xl){
			min-height: 972px;
			--sPT: 410px;
			--sPB: 30px;
			--sTPB: 283px;
		}
		@include media-breakpoint-up(xxl){
			min-height: 972px;
			--sPT: 412px;
			--sPB: 28px;
			--sTPB: 284px;
		}


		.section-title{
			h1{
				@include media-breakpoint-down(sm){
					font-size: 37px!important;
					margin-bottom: 19px!important;
				}
				@include media-breakpoint-between(sm, md){
					font-size: 36px!important;
					margin-bottom: 19px!important;
				}
				@include media-breakpoint-between(md, lg){
					font-size: 66px!important;
					margin-bottom: 0px!important;
				}
				@include media-breakpoint-between(lg, xl){
					font-size: 69px!important;
					margin-bottom: -8px!important;
				}
				@include media-breakpoint-between(xl, xxl){
					font-size: 75px!important;
					margin-bottom: -3px!important;
				}
				@include media-breakpoint-up(xxl){
					margin-bottom: -3px!important;
				}
			}

			p{
				@include media-breakpoint-down(sm){
					font-size: 20px!important;
				}
				@include media-breakpoint-between(sm, md){
					font-size: 21px!important;
				}
				@include media-breakpoint-between(md, lg){
					font-size: 41px!important;
				}
				@include media-breakpoint-between(lg, xl){
					font-size: 43px!important;
				}
				@include media-breakpoint-between(xl, xxl){
					font-size: 49px!important;
				}
			}
		}

		.container{
			@include media-breakpoint-between(xl, xxl){
				padding: 0 32px;
			}
		}
	}


	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-title{
		h1{
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.2;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);

			//bp
			font-size: 28px;
			letter-spacing: 0.35px;
			margin-bottom: 6px;
			@include media-breakpoint-up(md){
				font-size: 36px;
				letter-spacing: 0.4px;
				margin-bottom: 4px;
			}
			@include media-breakpoint-up(lg){
				font-size: 48px;
				letter-spacing: 0.31px;
				margin-bottom: 29px;
			}
			@include media-breakpoint-up(xl){
				font-size: 56px;
				letter-spacing: 0.36px;
				margin-bottom: 25px;
			}
			@include media-breakpoint-up(xxl){
				font-size: 72px;
				letter-spacing: 0.47px;
				margin-bottom: 6px;
			}

		}
		p{
			line-height: 1.2;

			font-size: 18px;
			letter-spacing: 0.19px;
			@include media-breakpoint-up(sm){
				font-size: 18px;
				letter-spacing: 0.19px;
			}
			@include media-breakpoint-up(md){
				font-size: 24px;
				letter-spacing: 0.19px;
			}
			@include media-breakpoint-up(lg){
				font-size: 30px;
				letter-spacing: 0.19px;
			}
			@include media-breakpoint-up(xl){
				font-size: 32px;
				letter-spacing: 0.21px;
			}
			@include media-breakpoint-up(xxl){
				font-size: 48px;
				letter-spacing: 0.36px;
			}

		}
	}
	&__btns-row{
		justify-content: center;
		padding: 0 0 40px 0px;
		@include roww(32px);

		@include media-breakpoint-up(md){
			justify-content: center;
			padding: 0 0 13px 0;
			@include roww(32px);
		}
		@include media-breakpoint-up(lg){
			padding: 0px 0 32px 0px;
		}
		@include media-breakpoint-up(xl){
			justify-content: flex-start;
			padding: 0 0 40px 6px;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 0 35px 0;
		}

		&--alt{
			@include media-breakpoint-between(md, lg){
				padding: 0 0 101px;
			}
			@include media-breakpoint-between(lg, xl){
				padding: 0 0 101px;
			}
		}
	}
	&__btn{
		@extend .tp-btn-frame;

		padding: 11px 22px;
		font-size: 15px;
		letter-spacing: 0.46px;
		@include media-breakpoint-up(lg){
			padding: 10px 22px;
			font-size: 18px;
			letter-spacing: 0.45px;
		}
		@include media-breakpoint-up(xl){
			padding: 10px 21px;
		}
		@include media-breakpoint-up(xxl){
			padding: 11px 22px;
		}


		&--order{
			min-width: 262px;
			@include media-breakpoint-up(lg){
				min-width: 330px;
			}
		}
		&--fb{

		}
	}
	//calendar-bl
	&__calendar-bl{
		display: flex;

		justify-content: center;
		align-items: center;
		@include media-breakpoint-up(sm){
			padding: 0 13px 0 0;
		}
		@include media-breakpoint-up(md){
			padding: 0 0 0 8px;
		}
		@include media-breakpoint-up(lg){
			padding: 0 25px 0 0;
		}
		@include media-breakpoint-up(xl){
			padding: 0 42px 0 0;
			justify-content: flex-end;
			align-items: flex-end;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 4px 0 0;
		}
	}
	&__c-icon{

		margin: 0 20px 0 0;
		@include media-breakpoint-up(sm){
			margin: 0 20px 0 0;
		}
		@include media-breakpoint-up(md){
			margin: 0 18px 0 0;
		}
		@include media-breakpoint-up(lg){
			margin: 0 15px 3px 0;
		}
		@include media-breakpoint-up(xl){
			margin: 0 24px 3px 0;
		}

		img{
			width: 32px;
			@include media-breakpoint-up(lg){
				width: auto;
				height: auto;
			}
		}
	}
	&__c-txt{
		text-shadow: 1px 2px 2px rgba(68, 68, 68, 0.4);

		letter-spacing: 0.2px;
		font-size: 15px;
		line-height: 1;
		@include media-breakpoint-up(md){
			letter-spacing: 0.2px;
			font-size: 15px;
			line-height: 1.2;
		}
		@include media-breakpoint-up(lg){
			font-size: 18px;
			line-height: (24/18);
		}
		@include media-breakpoint-up(xxl){
			font-size: 20px;
			line-height: 1.2;
		}
	}
	&__{}
	&__{}

}

// end.headerBlock