mixin sGalery(data)
	// start sGalery
	+b.SECTION.sGalery.section#sGalery&attributes(attributes)
		.container
			+b.section-title.text-center
				h2
			.row
	// end sGalery

mixin menuGalerySlider()
	+b.galerySlider--js
		+e.head-row.row
			.col
				+e.H4.title фотогалерея меню базовых лагерей
			.col-auto
				+e.show-all(href='#')
					span
						| Показать все
						|
					span (48)
			.col-auto.d-none.d-lg-block
				+e.conrolls
					+b.galery-prev--js
						+icon('chevron-left')
					+b.galery-next--js
						+icon('chevron-right')
		+e.slider
			.swiper-container.galery-slider-js
				.swiper-wrapper
					+galerySlide(1, 'menuBase')
					+galerySlide(2, 'menuBase')
					+galerySlide(3, 'menuBase')
					+galerySlide(1, 'menuBase')
					+galerySlide(2, 'menuBase')
					+galerySlide(3, 'menuBase')
			+e.conrolls.d-lg-none
				+b.galery-prev--js
					+icon('chevron-left')
				+b.galery-next--js
					+icon('chevron-right')

mixin galerySlide(imgNum, dataFancyBox)
	.swiper-slide
		+e.galery-link(href=`img/@2x/galery-img-${imgNum}.png` data-fancybox=dataFancyBox)
			img(loading="lazy" src=`img/@2x/galery-img-${imgNum}.png` alt="")

mixin videoBaner()
	+b.videoBaner
		+e.cont
			+e.mob-title.d-lg-none
				span.up-case
					| Инфраструктура Базового Лагеря
					|
				span.d-none.d-md-inline (3600 м)
			+b.video-fr(href='#')
				img(loading="lazy" src="img/@2x/video-bl-img.jpg" alt="")
			+e.descr-bl
				+e.title.d-none.d-lg-block
					span.up-case
						| Инфраструктура Базового Лагеря
						|
					span (3600&#160;м)
				+e.descr
					.d-inline.d-lg-none
						| Базовый лагерь 3600 м
						|
					| компании
					|
					strong Central Asia Travel
					br.d-none.d-lg-block
					|
					| под пиком Ленина
					|
					br.d-none.d-lg-block
					span.d-none.d-lg-inline.d-xl-none.d-xxl-inline и бесподобные пейзажи Памира
				+e.btn(href="#") Перейти в видеогалерею »»

mixin formStrip()
	+b.form-strip
		+e.row.row
			+e.sign-col.col-auto
				img(loading="lazy" src='img/@2x/quest-sign.png' alt="")
			+e.title-col.col-12.col-lg.col-xl-12.col-xxl
				h4 Остались вопросы? Свяжитесь с нами
				p И наши специалисты подробно на них ответят
			.col-auto
				+e.btn(href='#') Задать вопрос

mixin formStrip2()
	+b.form-strip--alt
		+e.row.row.align-items-start
			+e.sign-col.col-auto
				img(loading="lazy" src='img/@2x/quest-sign.png' alt="")
			+e.title-col.col-12.col-lg
				h4 Остались вопросы? Свяжитесь с нами
				p И наши специалисты подробно на них ответят
			.col-auto
				+e.btn(href='#') Задать вопрос
