// start .sGalery
//prob remove later
.sGalery {

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sGalery

.galerySlider{

	padding-bottom: 51px;
	@include media-breakpoint-up(xxl){
		padding-bottom: 48px;
	}

	&__head-row{
		align-items: center;

		@include roww(20px);
		padding-bottom: 17px;
		@include media-breakpoint-up(xl){
			@include roww(20px);
			padding-bottom: 17px;
		}
		@include media-breakpoint-up(xxl){
			@include roww(30px);
			padding-bottom: 17px;
		}
	}
	&__title{
		color: $gray-750;
		text-transform: uppercase;
		font-weight: 400;

		font-size: 20px;
		letter-spacing: 0.2px;
		@include media-breakpoint-up(xxl){
			font-size: 20px;
			letter-spacing: 0.2px;
		}
	}
	&__show-all{
		@include mt();

		font-size: 16px;
		letter-spacing: 0.08px;
		@include media-breakpoint-up(xxl){
			font-size: 16px;
			letter-spacing: 0.08px;
		}

		--showTxtCol: #{$primary};
		--showAmCol: #{$gray-550};
		&:hover{
			--showTxtCol: #{darken($primary, 5)};
			--showAmCol: #{$black};
		}

		span:first-child{
			font-weight: 600;
			color: var(--showTxtCol);
		}
		span:last-child{
			color: var(--showAmCol);
			font-weight: 300;
		}
	}
	//prev, next
	&__conrolls{
		display: flex;
		align-items: center;
	}
	.galery-prev,
	.galery-next{
		outline: none!important;
		border: none!important;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 31px;
		height: 31px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18)!important;
		background-color: $white;

		&:hover{
			background-color: $primary;
			.icon{
				color: $white;
			}
		}

		@include mt();
		.icon{
			@include mt();
			font-size: 12px;
			color: $gray-500;
		}
	}

	.galery-prev{
		margin-right: 6px;
	}
	.galery-next{

	}
	//

	&__slider{

		//swiper default
		.swiper-wrapper{

		}
		.swiper-container{

		}
		.swiper-slide{
			width: calc((100% / 3) - (5px * 2 / 3));
		}
	}
	&__galery-link{
		@extend .accept-ratio-frame;

		padding-top: 70.1%;
		@include media-breakpoint-up(xxl){
			padding-top: 70.1%;
		}
	}
	//
	&__{}
	&__{}
}

.videoBaner{
	margin-bottom: 73px;
	@include media-breakpoint-up(xxl){
		margin-bottom: 73px;
	}

	&__cont{
		display: flex;

		--banVidW: calc(100% - 287px);
		--banDescrW: 287px;
		min-height: 279px;
		@include media-breakpoint-up(xl){
			--banVidW: calc(100% - 287px);
			--banDescrW: 287px;
			min-height: 279px;
		}
		@include media-breakpoint-up(xxl){
			--banVidW: calc(100% - 345px);
			--banDescrW: 345px;
			min-height: 335px;
		}
	}
	&__mob-title{

	}
	//video
	&__video{
		width: var(--banVidW);
		height: auto;
		overflow: hidden;

		&:hover{
			img{
				filter: brightness(80%);
				transform: scale(1.1);
			}
		}

		img{
			@include mt();
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			border-radius: 50%;
			border: 2px solid $primary;

			background-image: url(../img/svg/play-triangle.svg);
			background-repeat: no-repeat;

			background-size: 24px 28px;
			background-position: 24px 18px;
			width: 65px;
			height: 65px;
			@include media-breakpoint-up(xxl){
				background-size: 24px 28px;
				background-position: 24px 18px;
				width: 65px;
				height: 65px;
			}
		}

	}
	//
	&__descr-bl{
		width: var(--banDescrW);
		overflow: hidden;

		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, $gray-750 0%, $gray-550 100%);
		}
		&:after{
			content: '';
			position: absolute;
			z-index: -2;
			bottom: 0;
			right: 0;

			width: 185px;
			height: 151px;
			@include media-breakpoint-up(md){
				width: 351px;
				height: 242px;
			}
			@include media-breakpoint-up(lg){
				width: 260px;
				height: 249px;
			}
			@include media-breakpoint-up(xl){
				width: 212px;
				height: 207px;
			}
			@include media-breakpoint-up(xxl){
				width: 255px;
				height: 249px;
			}
			//baner-descr-bg
		}

		color: $white;

		padding: 22px 33px 28px 31px;
		@include media-breakpoint-up(xl){
			padding: 22px 33px 28px 31px;
		}
		@include media-breakpoint-up(xxl){
			padding: 22px 33px 24px 31px;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		line-height: 1.2;

		font-size: 20px;
		letter-spacing: 0.2px;
		margin-bottom: 16px;
		@include media-breakpoint-up(xl){
			font-size: 20px;
			letter-spacing: 0.2px;
			margin-bottom: 16px;
		}

		.up-case{
			text-transform: uppercase;
		}
	}
	&__descr{
		width: 100%;
		font-weight: 300;

		font-size: 16px;
		letter-spacing: .22px;
		margin-bottom: 30px;
		@include media-breakpoint-up(xxl){
			font-size: 16px;
			letter-spacing: .22px;
			margin-bottom: 30px;
		}

		strong{
			font-weight: 600;
		}
	}
	&__btn{
		margin-top: auto;
		@extend .tp-btn-frame;
		white-space: nowrap;
		text-transform: none;


		font-size: 16px;
		letter-spacing: .3px;
		padding: 11px;
		margin-left: auto;
		@include media-breakpoint-up(xxl){
			font-size: 16px;
			letter-spacing: .3px;
			padding: 11px;
			margin-left: 0;
		}
	}
	//
	&__{}
	&__{}
	&__{}
	&__{}
}

.form-strip{
	border: 1px solid $gray-550;

	padding: 22px 51px 22px 22px;
	@include media-breakpoint-up(xxl){
		padding: 22px 51px 22px 22px;
	}

	&__row{
		align-items: center;

		@include roww(24px);
		& > * {
			margin-bottom: 24px;
		}
		margin-bottom: -24px;
	}
	&__sign-col{
		max-width: 100px;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__title-col{
		color: $gray-750;

		& > *:last-child{
			margin-bottom: 0;
		}

		h4{
			font-weight: 400;
			text-transform: uppercase;

			font-size: 20px;
			letter-spacing: 0.2px;
			@include media-breakpoint-up(xxl){
				font-size: 20px;
				letter-spacing: 0.2px;
				margin-bottom: 1px;
			}
		}
		p{
			font-size: 16px;
			@include media-breakpoint-up(xxl){
				font-size: 16px;
			}

			line-height: 1.5;
			font-weight: 300;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		color: $gray-50;

		min-width: 238px;
		font-size: 18px;
		line-height: (24/18);
		letter-spacing: 0.18px;
		padding: 13px 20px;
		@include media-breakpoint-up(xxl){
			min-width: 238px;
			font-size: 18px;
			line-height: (24/18);
			letter-spacing: 0.18px;
			padding: 13px 20px;
		}
	}
}