mixin sDescr(data)
	// start sDescr
	+b.SECTION.sDescr.section#sDescr&attributes(attributes)
		.container
			+b.section-title
				h2 Восхождение на пик Ленина (7134 м)
				p Памир, Кыргызстан
			+e.row.row
				+e.l-col.col-12.col-xl-6
					+b.social
						+socItem('fb')
						+socItem('tw')
						+socItem('vb')
						+socItem('wa')
						+socItem('tg')
					+e.txt
						p
							strong Пик Ленина (7134.3 м)
							|
							| - один из самых известных, доступных и наиболее часто посещаемых
							|
							strong семитысячников Памира
							|, расположен на границе между Киргизией и Таджикистаном и входит в альпинистскую программу
							|
							strong «Снежный барс».
						p
							| Мы организуем
							|
							strong восхождение на пик Ленина по классическому маршруту
							|
							| с севера через вершину
							|
							strong Раздельная.
							|
							| Несмотря на то, что
							strong технически маршрут
							|
							strong прост
							|
							| и не имеет крутых скальных или ледовых участков, нужно принимать во внимание значительную
							|
							strong высоту
							|
							| и суровые погодные условия, из-за чего
							strong  восхождение на пик Ленина
							|
							| относится к классу высотного альпинизма и считается
							|
							strong экстремальным видом спорта
							|. Для успешного восхождения участникам потребуется крепкое физическое и душевное здоровье, соответствующее снаряжение, грамотная акклиматизация, а также опыт восхождений на вершины не менее 5000 м.
						p
							| Во время
							|
							strong экспедиции на пик Ленина
							|
							| вы сможете пользоваться богатой инфраструктурой наших собственных современных и
							|
							strong комфортабельных базовых лагерей
							|, расположенных на разных высотах – 3600 м и 4400 м.
				+e.r-col.col-12.col-xl-6
					+e.map
						+e.img-stab
							img(loading="lazy" src="img/@2x/map-img.png" alt="")
			+e.light-str
				.container
					.row
						+lightSqItem()
	// end sDescr

mixin lightSqItem()
	.col-auto
