mixin sDescr(data)
	// start sDescr
	+b.SECTION.sDescr.section#sDescr&attributes(attributes)
		+e.container.container
			+b.section-title.text-center.text-xl-start
				h2
					span.up-case
						| Восхождение на пик Ленина
						|
					span (7134 м)
				p Памир, Кыргызстан
			+e.row.row
				+e.l-col.col-12.col-xl-6
					+b.social
						+socItem('fb')
						+socItem('tw')
						+socItem('vb')
						+socItem('wa')
						+socItem('tg')
					+e.txt
						p
							strong Пик Ленина (7134.3 м)
							|
							| - один из самых известных, доступных и наиболее часто посещаемых
							|
							strong семитысячников Памира
							|, расположен на границе между Киргизией и Таджикистаном и входит в альпинистскую программу
							|
							strong «Снежный барс».
						p
							| Мы организуем
							|
							strong восхождение на пик Ленина по классическому маршруту
							|
							| с севера через вершину
							|
							strong Раздельная.
							|
							| Несмотря на то, что
							strong технически маршрут
							|
							strong прост
							|
							| и не имеет крутых скальных или ледовых участков, нужно принимать во внимание значительную
							|
							strong высоту
							|
							| и суровые погодные условия, из-за чего
							strong  восхождение на пик Ленина
							|
							| относится к классу высотного альпинизма и считается
							|
							strong экстремальным видом спорта
							|. Для успешного восхождения участникам потребуется крепкое физическое и душевное здоровье, соответствующее снаряжение, грамотная акклиматизация, а также опыт восхождений на вершины не менее 5000 м.
						p
							| Во время
							|
							strong экспедиции на пик Ленина
							|
							| вы сможете пользоваться богатой инфраструктурой наших собственных современных и
							|
							strong комфортабельных базовых лагерей
							|, расположенных на разных высотах – 3600 м и 4400 м.
				+e.r-col.col-12.col-xl-6
					+e.map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d395325.333349064!2d72.61591804097165!3d39.27738251631133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38befc513bcb0635%3A0xa7c9fe33c28cb1!2z0J_QuNC6INCb0LXQvdC40L3QsA!5e0!3m2!1sru!2sua!4v1612398917978!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			+e.light-str
				.container
					+e.ls-row.row
						+lightSqItem(1)(class="active")
							| Выберите
							br
							| пакет услуг
						+lightSqItem(2)(href='#')
							| Посмотрите даты
							br
							| групповых туров
						+lightSqItem(3)(href='#')
							| Почитайте
							br
							| отзывы
						+lightSqItem(4)(href='#')
							| Отправьте
							br
							| заявку
	// end sDescr

mixin lightSqItem(imgNum)
	.col-6.col-md-3.col-xl-auto
		+e.ls-cont&attributes(attributes)
			+e.ls-img
				img(loading="lazy" src=`img/@2x/ls-sq-${imgNum}.png` alt="")
			+e.ls-txt
				block