// start .sDescr
.sDescr {
	--sPB: 0px;

	--sPT: 30px;
	--sTPB: 30px;
	@include media-breakpoint-up(sm){
		--sPT: 69px;
		--sTPB: 30px;
	}
	@include media-breakpoint-up(md){
		--sPT: 98px;
		--sTPB: 33px;
	}
	@include media-breakpoint-up(lg){
		--sPT: 97px;
		--sTPB: 34px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 105px;
		--sTPB: 17px;
	}
	@include media-breakpoint-up(xxl){
		--sPT: 106px;
		--sTPB: 17px;
	}


	&__container{
		@include media-breakpoint-between(lg,xl){
			padding: 0 96px;
		}
	}
	.section-title{
		color: $gray-750;

		h2{
			font-weight: 600;

			font-size: 19.9px;
			margin-bottom: -3px;
			@include media-breakpoint-up(sm){
				font-size: 19.9px;
				margin-bottom: -3px;
			}
			@include media-breakpoint-up(md){
				font-size: 24px;
				margin-bottom: -3px;
			}
			@include media-breakpoint-up(lg){
				font-size: 32px;
				margin-bottom: -6px;
			}
			@include media-breakpoint-up(xl){
				font-size: 36px;
			}
		}
		p{
			font-size: 21.5px;
			@include media-breakpoint-up(sm){
				font-size: 21.5px;
			}
			@include media-breakpoint-up(md){
				font-size: 25.5px;
			}
			@include media-breakpoint-up(lg){
				font-size: 33.8px;
			}
			@include media-breakpoint-up(xl){
				font-size: 36.8px;
			}
			font-weight: 300;
		}
	}
	&__row{

		padding-bottom: 25px;
		@include media-breakpoint-up(sm){
			padding-bottom: 25px;
		}
		@include media-breakpoint-up(md){
			padding-bottom: 35px;
		}
		@include media-breakpoint-up(lg){
			padding-bottom: 25px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 32px;
		}
		@include media-breakpoint-up(xxl){
			padding-bottom: 74px;
		}
	}
	//l-col
	&__l-col{
		padding-bottom: 30px;
		@include media-breakpoint-up(lg){
			padding-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			padding-right: 17px;
			padding-bottom: 0;
		}
		@include media-breakpoint-up(xxl){
			padding-right: 15px;
		}
	}

	.social{
		@include media-breakpoint-between(sm,md){
			margin-bottom: 38px;
		}
		@include media-breakpoint-between(md,lg){
			padding-left: 32px;
		}

		@include media-breakpoint-up(lg){
			margin-bottom: 31px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 18px;
		}

	}
	&__txt{
		& > *:last-child{
			margin-bottom: 0;
		}

		color: $gray-750;

		font-size: 16px;
		line-height: 1.5;
		letter-spacing: -0.1px;
		@include media-breakpoint-up(lg){
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: -0.1px;
		}
		@include media-breakpoint-up(xl){
			text-align: justify;
			font-size: 16px;
			line-height: 1.45;
			letter-spacing: 0.08px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 17px;
			line-height: (24/17);
		}

		p{

			margin-bottom: 24px;
			@include media-breakpoint-up(lg){
				margin-bottom: 24px;
			}
			@include media-breakpoint-up(xl){
				margin-bottom: 30px;
			}
		}
	}
	//r-col
	&__r-col{

		@include media-breakpoint-up(xxl){
			padding-left: 59px;
		}
	}
	&__map{
		position: relative;

		height: 397px;
		@include media-breakpoint-up(sm){
			height: 235px;
		}
		@include media-breakpoint-up(md){
			height: 397px;
		}
		@include media-breakpoint-up(lg){
			height: 431px;
		}

		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%!important;
			height: 100% !important;
		}
	}
	//
	&__light-str{
		background-color: $light;

		padding: 24px 0 30px;
		@include media-breakpoint-up(md){
			padding: 24px 0;
		}

		width: 100vw;
		position: relative;
		left: calc(-1 * (100vw - 100%) / 2);
	}
	&__ls-row{
		@include media-breakpoint-down(md){
			@include roww(16px);
			max-width: 310px;
			margin-left: auto;
			margin-right: auto;
		}

		justify-content: center;

		& > *{
			margin-bottom: 30px;
		}
		margin-bottom: -30px;


		@include roww(16px);
		@include media-breakpoint-up(md){
			@include roww(16px);
		}
		@include media-breakpoint-up(xl){
			@include roww(31px);
		}
		@include media-breakpoint-up(xxl){
			@include roww(32px);
		}
	}

	&__ls-cont{
		@include mt();
		display: block;
		min-height: 100%;


		padding: 23px 10px 20px;
		@include media-breakpoint-up(md){
			padding: 15px 15px 20px;
		}
		@include media-breakpoint-up(xl){
			width: 168px;
		}
		@include media-breakpoint-up(xxl){
			width: 207px;
			padding: 15px 20px 17px;
		}

		box-shadow: 0 0 10px rgba(228, 225, 215, 0.43);
		border-radius: 2px;
		background-color: $white;

		border: 1px solid transparent;
		color: $gray-750;
		&.active, &:hover{
			border: 1px solid $primary;
			color: $primary;
		}
	}
	&__ls-img{
		display: flex;
		align-items: center;
		justify-content: center;

		height: 44px;
		margin-bottom: 16px;
		@include media-breakpoint-up(md){
			height: 60px;
			margin-bottom: 10px;
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: 7px;
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__ls-txt{
		display: block;
		@include mt();
		text-align: center;
		line-height: 1.2;

		font-size: 14px;
		@include media-breakpoint-up(md){
			font-size: 16px;
			letter-spacing: 0.09px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 18px;
			letter-spacing: 0.09px;
		}
	}
	&__{}
} // end.sDescr

